/* Two-Columns */

.two-column {
  display: flex;
}

.two-column>* {
  flex-basis: 50%;
}

.two-column> :first-child {
  padding-right: 15px;
}

.two-column> :last-child {
  padding-left: 15px;
}

@media screen and (max-width: 750px) {
  .two-column {
    display: block;
  }
}


/* Overriding original styles */

img {
  max-width: 100%;
}

/* Images align left */
.post img {
  margin: 0 0 0.5rem;
}

/* spacing afterwards */
.post-title {
  margin-bottom: 25px;
}

/* styling H2 */
h2 {
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 60px;
}

/* spacing before H2 */
article.post.page {
  margin-top: 0;
}

h2.post-title {
  margin-top: 0px;
}

/* styling H3 */
h3 {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 36px;
}

h3:first-child {
  margin-top: 0;
}

/* styling unordered/ordered lists (ul und ol) */
ul,
ol {
  margin-top: 0;
  padding-left: 0;
  list-style-position: inside;
}

/* styling bullet point unordered lists */
ul {
  list-style-type: none;
}

ul>li {
  padding-left: 20px;
  position: relative;
}

ul>li::before {
  content: "\2014";
  position: absolute;
  left: 0;
}

/* styling logo */
.logo {
  width: 50%;
  margin: 50px auto;
  display: block;
}